*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!*.sh
!*.ld
!.gitignore
!.scalafmt.conf
!README.md
!Kconfig
!thirdpartys
sw/include/config
sw/include/generated
build
source

# scala
!*.mill
!*.sbt
!*.svg
out
