*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!*.sh
!*.ld
!.gitignore
!.scalafmt.conf
!README.md
!docs/reports/**/*.md
!Kconfig
!thirdpartys
sw/include/config
sw/include/generated
build
source

!.devcontainer/*
!.clang-format

# scala
!*.mill
!*.sbt
!*.svg
out
